.stepPanelItem {
  left: 7%;
  width: 55%;
  /* background-image: url("../img/UI/group_text_bg.svg"); */
}
.opClass {
  display: none;
  opacity: 0.0;
  filter: alpha(opacity=0);
}

.highlight {
  color: red;
}

#pipetteHolder {
  width: 22%;
  height: 29%;
  left: -0.25%;
  top: 51%;
  position: absolute;
  background-image: url(img/piptetHolder.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
