/* @font-face {
    font-family: "Helvetica";
    src: url("../resources/fonts/helvetica.woff");
} */
#next {
  top: 35%;
  left: 5%;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("../img/UI/stripeBG.png");
}

#stage {
  background-color: #abceed;
  position: absolute;
  margin: 0px;
  z-index: 10;
  height: 95%;
  overflow: hidden;
  top: 33%;
  left: 0%;
  width: 100%;
}

#view {
  width: 80%;
  height: 80%;
  top: 0%;
  left: 0%;
  position: absolute;
}

#storage {
  width: 0%;
  height: 0%;
  top: -100%;
  left: -100%;
  position: absolute;
}

#steps {
  left: 65%;
  top: 5%;
  width: 18%;
  height: 36%;
  position: absolute;
  z-index: 500;
  font-size: .33rem
}

.stepPanelItem {
  left: 7%;
  width: 85%;
  /* background-image: url("../img/UI/group_text_bg.svg"); */
}

.step {
  width: 100%;
  height: 10%;
  left: 100%;
  top: 0%;
  position: absolute;
  z-index: 0;
  /*z-index: 0;*/
}

.groupPanel {
  top: 15%;
  left: 13%;
  width: 93%;
  height: 70%;
  position: absolute;
  background-image: url("general_img/group_text_bg.svg");
}

.group {
  width: 100%;
  height: 10%;
  left: 100%;
  top: 0%;
  position: absolute;
  z-index: 5;
  /*z-index: 500;*/
}

.screen {
  position: absolute;
  overflow: hidden;
}

.stepText {
  width: 100%;
  height: 100%;
  top: 8%;
  left: 0%;
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Helvetica", sans-serif;
  z-index: 0;
  pointer-events: none;
}

.icon {
  height: 100%;
  width: 15%;
  top: 0%;
  left: 0%;
  position: absolute;
  background-image: url("../resources/img/step_inactive.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
  /*z-index: 10;*/
}

.incompleteIcon {
  background-image: url(img/step_incomplete.svg)
}

.completeIcon {
  background-image: url(../resources/img/step_complete.svg)
}

.failedIcon {
  background-image: url(../resources/img/step_failed.svg)
}

.inactiveIcon {
  background-image: url("../resources/img/step_inactive.svg");
}

.activeIcon {
  background-image: url("../resources/img/step_active.svg");
}

.activeGroupIcon {
  background-image: url("general_img/group_active.svg");
}

.completeIcon {
  background-image: url("../resources/img/step_complete.svg");
}

.failIcon {
  background-image: url("../resources/img/step_failed.svg");
}

.icon_bg {
  height: 100%;
  width: 15%;
  top: 0%;
  left: 0%;
  position: absolute;
  background-image: url("general_img/step_bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
  /*z-index: 10;*/
}

@keyframes stepExit {
  0% {
    width: 15%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
    /*z-index: 100;*/
  }

  100% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 7.5%;
    z-index: 0;
    /*z-index: 100;*/
  }
}

.anim_stepExit {
  animation: stepExit 0.125s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

@keyframes stepEnter {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 7.5%;
    z-index: 0;
    /*z-index: 100;*/
  }

  50% {
    width: 22.5%;
    height: 150%;
    top: -25%;
    left: -3.75%;
    z-index: 0;
    /*z-index: 100;*/
  }

  100% {
    width: 15%;
    height: 100%;
    top: 0%;
    z-index: 0;
    /*z-index: 100;*/
  }
}

.anim_stepEnter {
  animation: stepEnter 0.375s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

@keyframes stepEnterBig {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 7.5%;
    z-index: 0;
    /*z-index: 150;*/
  }

  50% {
    width: 30%;
    height: 200%;
    top: -50%;
    left: -7.5%;
    z-index: 0;
    /*z-index: 150;*/
  }

  100% {
    width: 15%;
    height: 100%;
    top: 0%;
    z-index: 0;
    /*z-index: 150;*/
  }
}

.anim_stepEnterBig {
  animation: stepEnterBig 0.375s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

@keyframes enterStepObject {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

.anim_enterStepObject {
  animation: enterStepObject 0.5s cubic-bezier(0, .75, .25, 1) 0s 1 forwards;
}

@keyframes exitStepObject {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.anim_exitStepObject {
  animation: exitStepObject 0.5s cubic-bezier(.75, 0, 1, .25) 0s 1 forwards;
}

#results {
  width: 75%;
  height: 55%;
  left: 12.5%;
  top: 22.5%;
  background-color: #ffffff;
  background-image: url("stripes/DarkStripeBG.png");
  z-index: 0;
  /*z-index: 5001;*/
  opacity: 1;
  position: absolute;
  box-shadow: .5% .5% .5% #000000;
}

#endText {
  width: 100%;
  height: 5%;
  text-align: center;
  color: #ffffff;
  margin-top: 3%;
  padding: 0;
  z-index: 0;
  /*z-index: 40;*/
  text-shadow: 1% 1% #808080;
  position: absolute;
}

#endSubText {
  width: 100%;
  height: 2.5%;
  text-align: center;
  color: #ffffff;
  margin-top: 16.5%;
  padding: 0;
  z-index: 0;
  /*z-index: 40;*/
  position: absolute;
  opacity: 1;
}

.endErrorText {
  width: 100%;
  height: 2.5%;
  text-align: center;
  color: #ffffff;
  padding: 0;
  z-index: 0;
  /*z-index: 40;*/
  position: absolute;
  opacity: 0;
}

#endErrorText1 {
  margin-top: 15%;
}

#endErrorText2 {
  margin-top: 21%;
  color: #909090;
}

#endErrorText3 {
  margin-top: 25%;
}

.endOption {
  width: 25%;
  height: 20%;
  position: absolute;
  z-index: 0;
  /*z-index: 50;*/
  box-shadow: 5% 5% 5% #000000;
  top: 70%;
}

.endOptionText {
  width: 100%;
  height: 20%;
  text-align: center;
  color: #ffffff;
  margin-top: 12%;
  padding: 0;
  z-index: 0;
  /*z-index: 40;*/
  position: absolute;
  font-family: "Helvetica";
}

.endOptionUnlocked {
  background-image: url("stripes/GreenStripe2.png");
}

.endOptionLocked {
  background-image: url("stripes/LockedStripe.png");
}

#endOption1 {
  left: 5%;
  position: absolute;
}

#endOption2 {
  left: 37.5%;
  position: absolute;
}

#endOption3 {
  left: 70%;
  position: absolute;
}

.endOptionDesc {
  width: 25%;
  height: 30%;
  position: absolute;
  z-index: 0;
  /*z-index: 50;*/
  box-shadow: 5% 5% 5% #000000;
  top: 40%;
  opacity: 0;
  background-image: url("../resources/img/white_text_bubble.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

#messageBox #button {
  width: 20%;
  text-align: center;
}

.rounded {
  border-radius: .5rem;
}

#endOptionDesc1 {
  left: 5%;
}

#endOptionDesc2 {
  left: 37.5%;
}

#endOptionDesc3 {
  left: 70%;
}

.darkText {
  font-family: "Helvetica", sans-serif;
  color: black;
}

.endOptionDescText {
  width: 90%;
  height: 60%;
  left: 5%;
  top: 10%;
  position: absolute;
  text-align: left;
}

.anim_enterEndOptionDesc {
  animation: enterEndOptionDesc .05s 0s 1 linear normal forwards;
}

@keyframes enterEndOptionDesc {
  from {
    top: 37%;
    opacity: 0;
  }

  to {
    top: 40%;
    opacity: 1;
  }
}

.anim_exitEndOptionDesc {
  animation: exitEndOptionDesc .05s 0s 1 linear normal forwards;
}

@keyframes exitEndOptionDesc {
  from {
    top: 40%;
    opacity: 1;
  }

  to {
    top: 37%;
    opacity: 0;
  }
}

.anim_enterResults {
  animation: enterResults .5s 0s 1 cubic-bezier(0, 1, 0, 1) normal forwards;
}

@keyframes enterResults {
  from {
    top: 1000%;
  }

  to {
    top: 22.5%;
  }
}

.anim_exitResults {
  animation: exitResults .5s 0s 1 cubic-bezier(1, 0, 1, 0) normal forwards;
}

@keyframes exitResults {
  from {
    top: 22.5%;
  }

  to {
    top: 1000%;
  }
}

.text {
  font-family: "Helvetica", sans-serif;
  color: white;
}

.anim_fadeInBG {
  animation: fadeInBG .5s 0s 1 linear normal forwards;
}

@keyframes fadeInBG {
  from {
    opacity: 0;
  }

  to {
    opacity: .75;
  }
}

.anim_fadeOutBG {
  animation: fadeOutBG .5s 0s 1 linear normal forwards;
}

@keyframes fadeOutBG {
  from {
    opacity: .75;
  }

  to {
    opacity: 0;
  }
}

#overlay {
  top: 0% !important;
  left: 0% !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

#overlayBG {
  top: 0% !important;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  /*z-index: 0;*/
  background-color: white;
  opacity: 0;
}

@keyframes littleSpin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(720deg);
  }
}

.anim_littleSpin {
  animation: littleSpin 1s 0s 1 cubic-bezier(0, .5, .5, 1) normal forwards;
}

.scoreBox {
  width: 25%;
  height: 5%;
  top: 92.5%;
  text-align: center;
  position: absolute;
}

#scoreBox1 {
  left: 5%;
}

#scoreBox2 {
  left: 37.5%;
}

#scoreBox3 {
  left: 70%;
}

#header {
  width: 100%;
  height: 5%;
  top: 0%;
  left: 0%;
  position: absolute;
  text-align: center;
  background-color: black;
  /*z-index: 20;*/
  font-size: 0.75rem
}

#footer {
  width: 100%;
  height: 5%;
  top: 95%;
  left: 0%;
  position: absolute;
  text-align: center;
  background-color: black;
  /*z-index: 20;*/
  font-size: 0.75rem
}

.opClass {
  display: none;
  opacity: 0.0;
  filter: alpha(opacity=0);
}

.highlight {
  color: red;
}

.clearTube {
  fill: #CFCCCC;
}

.microTube {
  width: 2.9%;
  height: 7%;
  top: 70%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 100% 0%;
  z-index: 0;
}

.tubeColor {
  opacity: 1;
  stroke: #000000;
}

.opacity9 {
  opacity: 0.9;
}

.opacity8 {
  opacity: 0.8;
}

.opacity7 {
  opacity: 0.7;
}

.opacity6 {
  opacity: 0.6;
}

.opacity5 {
  opacity: 0.5;
}

.opacity4 {
  opacity: 0.4;
}

.opacity3 {
  opacity: 0.3;
}

.opacity2 {
  opacity: 0.2;
}

.opacity1 {
  opacity: 0.1;
}

.tubeFluid {
  opacity: 1;
  fill: #818AC4;
}

.Cap {
  transform-origin: 3% 5%;
}

.s0TubeColor {
  fill: green;
}

.s1TubeColor {
  fill: blue;
}

.s2TubeColor {
  fill: orange;
}

.s3TubeColor {
  fill: purple;
}

.s4TubeColor {
  fill: red;
}

.s5TubeColor {
  fill: yellow;
}

.clearTube {
  fill: #CFCCCC;
}

.dyeFluid {
  fill: #2E4EA2;
}

.tip {
  width: 0.7%;
  height: 7%;
  left: 22.4%;
  top: 70.2%;
  position: absolute;
  background-image: url(img/tip.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: visible;
}

.tubeTop {
  width: 7%;
  height: 3.5%;
  left: 33.5%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  visibility: visible;
}
